.primera {
  background-image: url(../image/degra.png);
  text-align: center;
  padding: 2em;
  color:#ffffff;
  background-repeat: no-repeat;
  background-position: center;
  
}

body h1 {
  font-size: 4em;
  margin: 0%;
}
strong {
  color: crimson;
  margin: 0%;
}

table {
  border-spacing: 0px;
  width: 60em;
}

p {
  font-size: 2em;
  margin: 0%;
}


.productos {
  width: 50%;
  padding: 1em;
}

.productos td {
  width: 50%;
  padding: 2em;
}

.productos img {
  width: 100%;
  border: 2em;
}

.productos p {
  font-size: 1.5em;
}





.pie {
  height: 3em;
  line-height: 3em;
  background-color: rgb(192, 225, 230);
  color:rgb(84, 76, 163);
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;

}
  